<library path="src">
  <class name="Free-play sandbox analysis tool" type="freeplay_sandbox_analysis.bag.Bag" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying and analysis recording from the freeplay sandbox.
    </description>
    <qtgui>
      <group>
        <label>Logging</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to logging.</statustip>
      </group>
      <label>Free-play sandbox analysis</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for displaying and analysis recording from the freeplay sandbox.</statustip>
    </qtgui>
  </class>
</library>
